#create-train {
  .ant-input {
    width: 100%;
    padding: 10px 15px;
  }

  .btn-submit {
    margin-top: 50px;
    button {
      border: none;
      background-color: #2f4791;
      padding: 10px 15px;
      height: auto;
    }
  }
}
