ENV_NAME=backend_development

# NodeJs Env Variables
NODE_PORT=your_nodejs_port

# MySql Env Variables
HOST=localhost
USER_NAME=your_username
PASSWORD=your_password
DB_NAME=your_dbname
DB_PORT=your_mysqlPort

# token secret
ACCESS_TOKEN_SECRET=your_token_secret
ACCESS_TOKEN_LIFE=your_ACCESS_TOKEN_LIFE