// Colors
$primary-color: #1890ff;
$background-color: #f0f2f5;

// Fonts
$font-size: 14px;
$font-family: Arial, sans-serif;

// Login page styles
#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background-color;
}

.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;

  .logo {
    margin-bottom: 30px;
    text-align: center;

    img {
      height: 80px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 24px;
      color: $primary-color;
      margin: 0;
      font-weight: bold;
      font-family: $font-family;
    }
  }

  .site-form-item-icon {
    color: rgba(0, 0, 0, 0.25);
  }

  .login-btn {
    background-color: $primary-color;
    border-color: $primary-color;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
  }

  .ant-form-item-control-input-content {
    input {
      font-size: $font-size;
      font-family: $font-family;
      padding: 10px;
      height: 40px;
      border: none;

      
    }
  }

 
  .text-center {
    text-align: center;
  }
}
