$primary: #2f4791;
$sub-primary: #2f479124;
$info: #6ea8e1;
$bodyColor: #333333;
$white: #fff;

$bgColor: #f4f6fa;

// weight

$heightHeader: 90px;

// shadow

$shadow1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow2: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
